*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #A03263 ;
    font-family: 'Barlow', sans-serif;
    background-color: transparent;
}

/*NÃO ESQUECER DE ADICIONAR TRANSIÇÃO NAS COISAS*/

::selection{
    color: #E0b0ff;
    background-color: #a24fda;
}

body{
    background-color: #993d7c;
}

#frete{
    height: 5vh; width: 100%;
    background-color: #A03263;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#frete p{
    color: #E299B4;
    font-size: 1.4em;
    font-weight: 500;
}

header {
    background-color: #E299B4;
    height: 10vh;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.137);
}

header ul{
    display: inline-block;
}

#skincare{position: relative;}
    
#skincare:hover svg{
fill: #a24fda;
}

#skinDrop{
position: absolute;
padding: 0;
background-color: white;
color: black;
width: 202px; height: 290px;
top: 3vh;
text-align: left;
left: 2vh;
border: 4px solid #a24fda;
opacity: 0; /*mudar esse e os dois de baixo*/
z-index: -99;
visibility: hidden;
transition: .5s;
box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
}

#skinDrop li>a{color: #c64ca2;
transition: .3s;}
    
#skinDrop li>a:hover{color: #5a213b;}
    
#skinDrop>li{
position: relative;
top: .2vh;
width: 100%;
padding: 9px 15px;
font-size: 16px;
letter-spacing: .5vh;
margin: 0;
line-height: 1.2;
transition: .3s;
}

#skinDrop>li:hover{background-color: #a0326325;}
    
#skincare:hover #skinDrop{
opacity: 1;
visibility: visible;
z-index: 99;
top: 6.5vh;
}

#rosto{position: relative;}
    
#rosto:hover svg{
fill: #a24fda;
}

#rostoDrop{
position: absolute;
padding: 0;
background-color: white;
color: black;
width: 202px; height: 400px;
top: 3vh;
text-align: left;
left: 2vh;
border: 4px solid #a24fda;
opacity: 0; /*mudar esse e os dois de baixo*/
z-index: -99;
visibility: hidden;
transition: .5s;
box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
}

#rostoDrop li>a{color: #c64ca2;
transition: .3s;}
    
#rostoDrop li>a:hover{color: #5a213b;}
    
#rostoDrop>li{
position: relative;
top: .2vh;
width: 100%;
padding: 9px 15px;
font-size: 16px;
letter-spacing: .5vh;
margin: 0;
line-height: 1.3;
transition: .3s;
}

#rostoDrop>li:hover{background-color: #a0326325;}
    
#rosto:hover #rostoDrop{
opacity: 1;
visibility: visible;
z-index: 99;
top: 6.5vh;
}

#corpo{position: relative;}
    
#corpo:hover svg{
fill: #a24fda;
}

#corpoDrop{
position: absolute;
padding: 0;
background-color: white;
color: black;
width: 202px; height: 160px;
top: 3vh;
text-align: left;
left: 2vh;
border: 4px solid #a24fda;
opacity: 0; /*mudar esse e os dois de baixo*/
z-index: -99;
visibility: hidden;
transition: .5s;
box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
}

#corpoDrop li>a{color: #c64ca2;
transition: .3s;}
    
#corpoDorp li>a:hover{color: #5a213b;}
    
#corpoDrop>li{
position: relative;
top: .2vh;
width: 100%;
padding: 9px 15px;
font-size: 18px;
letter-spacing: .5vh;
margin: 0;
line-height: 1.2;
transition: .3s;
}

#corpoDrop>li:hover{background-color: #a0326325;}
    
#corpo:hover #corpoDrop{
opacity: 1;
visibility: visible;
z-index: 99;
top: 6.5vh;
}

header ul li{
    display: inline-block;
    padding: 2.2vh;
    font-size: 1.4em;
    font-weight: 800;
    position: relative;
    bottom: 2.5vh;
}

header ul li a{
    color: #A03263;
    transition: .3s;
}

header ul li a:hover{
    color: #a24fda;
}

header ul svg{
    position: relative;
    left: 1vh;
}

header img{
    width: 17%;
    padding-top: .6vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.icons{
    padding: 1.5vh;
    position: relative;
    bottom: 1.8vh;
}

.icons svg{
    fill: #5a213b;
    transition: .3s;
}

.icons svg:hover{
    fill: #A03263;
}

header div{
    background-color: #E299B4;
    height: 1vh;
    width: 16%;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    position: relative;
    top: 9.9vh;
    left: 37.2%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.137);
}

#poster{
    position: relative;
    top: -.07vh;
    z-index: -1;
}

article{
    text-align: center;
    position: relative;
    top: -.5vh;
}

#entrega {
    background-color: #993d7c;
    color: #5a213b;
    height: 8.5vh;
    padding: 1.5vh;
    font-weight: 800;
}

#pesquisa{
    height: 5vh;
    background-color: #A03263;
    padding: 1vh;
}

#pesquisa input{
    border: none;
    background-color: #b63a7271;
    height: 3.5vh;
    width: 50%;
    border-radius: 30px;
    color: white;
    padding: 1vh;
    text-align: center;
}

#pesquisa input::placeholder{
    color: #e299b47e;
}

section h1{
    position: absolute;
    top: 78%;
    font-size: 5em;
    color: #993d7c;
    font-weight: 900;
    letter-spacing: 5vh;
    padding-left: 50%;
}

section p{
    position: absolute;
    top: 84.5vh;
    left: 82%;
    font-size: 1.2em;
    font-weight: 900;
    color: #993d7c;
}

section article{
    background-color: #993d7c;
    position: absolute;
    top: 87%;
    left: 45%;
    height: 70vh;
    width: 55%;
    border-radius: 40px;
    padding: 1vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

section article div{
    height: 95%; width: 90%;
    background-color: #f1d7ff;
    margin-left: 2vh;
    margin-top: 1vh;
    border: 5px solid #c64ca2;
    border-radius: 20px;
    transition: .3s;    
}

section article div:hover{
    border: 5px solid #5a213b;
}

.bases{
    padding-top: 13%;
    position: relative;
    left: 11%;
}

.sacola{
    position: relative;
    bottom: 55%;
    left: 22%;
}

section article h3{
    color: #c64ca2;
    font-size: 1.5em;
    line-height: .8;
    letter-spacing: 1vh;
}

section article h2{
    color: #ac418d;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: .5vh;
}

#blog h1{
    position: absolute;
    top: 145vh;
    left: 2vh;
    font-size: 11em;
    font-weight: 900;
    color: #993d7c;
    text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.250);
}

#blogTEXT{
    position: absolute;
    left: 3vh;
    top: 174vh;
    background-color: #993d7c;
    width: 62%;
    height: 32vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}
#blogTEXT p{
    padding: 2vh;
    color: #E4a8ff;
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: .5vh;
}

#blog h2{
    position: absolute;
    top: 165vh;
    left: 75.5%;
    color: #E4a8ff;
    font-size: 3em;
    text-align: right;
    line-height: 5.2vh;
    font-weight: 800;
    letter-spacing: .7vh;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.212);
}

#blog article{
    position: absolute;
    background-color: #993d7c;
    top: 167vh;
    left: 71.5%;
    height: 10vh;
    width: 25.5%;

}

#blogREDES{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 70%;
    top: 178vh;
    width: 35vh;
    height: 36vh;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.212);
}

.ttk{
    background-color: #E4a8ff;
    border: 6px solid #ac418d;
    margin-top: .5vh;
    padding: 3.2vh;
    height: 18vh; width: 18vh;
    border-radius: 100px;
    transition: .3s;
}

.ttk:hover{
    border: 6px solid #A03263;
}

.ttk svg{
    transition: .3s;
}

.ttk:hover svg{
    fill: #A03263;
}

.tt{
    background-color: #E4a8ff;
    border: 6px solid #ac418d;
    margin-top: 1vh;
    margin-left: 2vh;
    padding: 2vh;
    height: 13vh; width: 13vh;
    border-radius: 100px;
    transition: .3s;
}

.tt:hover{
    border: 6px solid #A03263;
}

.tt svg{
    transition: .3s;
}

.tt:hover svg{
    fill: #A03263;
}

.in{
    background-color: #E4a8ff;
    border: 6px solid #ac418d;
    margin-top: 1vh;
    margin-left: 2vh;
    padding: 1.7vh 0vh 1.7vh 2vh;
    height: 12vh; width: 12vh;
    border-radius: 100px;
    transition: .3s;
}

.in:hover{
    border: 6px solid #A03263;
}

.in svg{
    transition: .3s;
}

.in:hover svg{
    fill: #A03263;
}

.insta{
    background-color: #E4a8ff;
    border: 6px solid #ac418d;
    margin-top: -2vh;
    margin-left: 2vh;
    padding: 2vh 0vh 2.5vh 2.7vh;
    height: 17vh; width: 17vh;
    border-radius: 100px;
    transition: .3s;
}

.insta:hover{
    border: 6px solid #A03263;
}

.insta svg{
    transition: .3s;
}

.insta:hover svg{
    fill: #A03263;
}

#contato div{
    position: absolute;
    top: 265vh;
    height: 12vh; width: 100%;
    background-color: #5a213b;
}

#contato h1{
    position: absolute;
    top: 251vh;
    left: 20vh;
    font-size: 10em;
    font-weight: 900;
    color: #993d7c;
    letter-spacing: 1vh;
}

#contato h2{
    position: absolute;
    top: 273vh;
    left: 38vh;
    color: #c64ca2;
    font-size: 3em;
    font-weight: 900;
}

footer{
    height: 80vh; width: 100%;
    background-color: #A03263;
}

.logoRodape{
    width: 100%;
    padding: 3vh 50vh;
}

#gridFOOTER{
    height: 45vh;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    border-bottom: 4px solid #5a213b2c;
    color: #5a213b;
}

#gridFOOTER div{
    padding-left: 8vh;
    padding-top: 4vh;
}

#gridFOOTER h1{
    font-size: 1.7em;
    font-weight: 900;
    line-height: 4vh;
    letter-spacing: .5vh;
    margin-bottom: 1.5vh;
}

#gridFOOTER h2{
    font-size: 1.7em;
    font-weight: 900;
    line-height: 4vh;
    letter-spacing: .5vh;
}

#gridFOOTER b{
    font-weight: 900;
    letter-spacing: .2vh;
    position: relative;
    right: .8vh;
}

#gridFOOTER ul li a{
    color: #5a213b;
    letter-spacing: .5vh;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 4vh;
}

#gridFOOTER ul li:hover a{
    text-decoration: underline;
}

#gridFOOTER form{
    position: relative;
    right: 2vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2vh;
    line-height: 5vh;
}

#gridFOOTER label{
    font-size: 1.4em;
    letter-spacing: 1vh;
    font-weight: bolder;
}

#gridFOOTER input{
    width: 95%;
    height: 5vh;
    border: none;
    background-color: white;
}

#gridFOOTER button{
    width: 95%;
    height: 3vh;
    border: none;
    background-color: #993d7c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    color: #5a213b;
    font-weight: 800;
}

#gridFOOTER input::placeholder{
    color: #e3a8ff6b;
    padding: 1vh;
    letter-spacing: .2vh;
    font-size: large;
}

footer p{
    padding-top: 3.5vh;
    font-size: 2em;
    letter-spacing: .5vh;
    text-align: center;
    font-weight: 800;
    color: #5a213b;
}

.pagamento{
    width: 100%;
    padding: 0vh 37vh;
}




/*RESPONSIVIDADE:*/
@media only screen and (min-width: 1860px) {
    header ul li{
        padding: 4.7vh;
        font-size: 2.3em;
        font-weight: 800;
        position: relative;
        bottom: 2.5vh;
    }

    #skinDrop{
        width: 250px;
        height: 330px;
    }

    #rostoDrop{
        width: 280px;
        height: 530px;
    }

    #corpoDrop{
        width: 240px;
        height: 200px;
    }

    #skincare:hover #skinDrop{
    top: 10.5vh;
    }

    #rosto:hover #rostoDrop{
    top: 10.5vh;
    }

    #corpo:hover #corpoDrop{
    top: 10.5vh;
    }
    
    header img{
        width: 13.5%;
        position: relative;
    }
    
    .icons{
        padding: 2.5vh;
    }

    section article{
        top: 140%;
        left: 45%;
        height: 100vh;
        width: 55%;
    }

    section article h3{
        font-size: 2.5em;
    }

    section article h2{
        font-size: 3.2em;
    }

    section h1{
        font-size: 8em;
        top: 128.3%;
        left: -2%;
    }

    section p{
        font-size: 2.3em;
        top: 136%;
    }

    #blog h1{
        top: 210%;
        font-size: 18em;
        letter-spacing: 25px;
    }

    #blogTEXT{
        top: 245%;
        font-size: 2em;
        height: 490px;
    }

    #blog article{
        top: 245vh;
        width: 25%;
        height: 15vh;
    }

    #blog h2{
        font-size: 5.5em;
        line-height: 1;
        top: 240vh;
    }

    #blogREDES{
        top: 265vh;
        left: 75%;
    }

    #contato div{
        top: 374vh;
        height: 180px;
    }

    #contato h1{
        top: 353vh;
        left: 12%;
        font-size: 20em;
    }

    #contato h2{
        top: 386vh;
        left: 25%;
        font-size: 7em;
    }

    footer{
        height: 85vh;
    }

    .logoRodape{
        width: 70%;
        position: relative;
        left: 15%;
    }
}